# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Build artifacts
build/
dist/
*.egg-info/
*.so
*.c
*.o



# Compiled extensions
*.so
*.c

# Local dev
env/
*.db
__pycache__/


# IDE/editor configs
.idea/
.vscode/
*.swp
